@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CormorantGaramond";
  src: url("../fonts/CormorantGaramond-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
:root {
  --widthscrollbar: 17px;
  --sectionPaddingTop: 40px;
  --sectionPaddingBottom: 40px;
}

.page__body {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-family: "CormorantGaramond", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(47, 47, 47, 0.9);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 8px rgba(47, 47, 47, 0.5);
}

.page {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-color: #2F2F2F #EBE7E4;
  scrollbar-width: thin;
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  background-color: #EBE7E4;
  color: #2F2F2F;
}
.page__body._lock {
  overflow: hidden !important;
  height: 100% !important;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.footer {
  flex: 0 0 auto;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1390px;
  width: 100%;
}

.container-full {
  padding: 0 15px;
  max-width: 100%;
}
.container-left50 {
  padding: 0 15px;
  max-width: 50%;
}
@media screen and (max-width: 767.98px) {
  .container-left50 {
    max-width: 100%;
  }
}
.container-right50 {
  padding: 0 15px;
  max-width: 50%;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .container-right50 {
    max-width: 100%;
  }
}
.container-left {
  padding-right: calc((100vw - 1360px) / 2);
}
@media screen and (max-width: 1279.98px) {
  .container-left {
    padding-right: 15px;
  }
}
.container-right {
  padding-left: calc((100% - 1360px) / 2 + (15px));
}
@media screen and (max-width: 1279.98px) {
  .container-right {
    padding-left: 15px;
  }
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

._vbg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: var(--height);
  width: 100%;
  filter: blur(2px);
}
._vbg video,
._vbg iframe,
._vbg object,
._vbg embed {
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-svg {
  display: inline-block;
  fill: transparent;
  stroke: transparent;
  width: 30px;
  height: 30px;
  transition: fill 0.3s ease-in;
}

.logo--header {
  height: 50px;
}

.unvisible {
  position: absolute;
  top: 0;
  left: -10px;
  overflow: hidden;
  width: 0;
  height: 0;
  white-space: nowrap;
  visibility: hidden;
}

.header {
  padding: 30px 0;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 767.98px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    background-color: #556250;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 20px;
}
.header__logo {
  width: 37px;
  height: 40px;
  margin-right: auto;
}
@media screen and (max-width: 767.98px) {
  .header__logo {
    z-index: 5;
  }
}
.header__menu {
  margin-left: 50px;
}

.menu {
  --height-span: 22px;
  --width-span: 30px;
  --weight-span: 2px;
}
@media screen and (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 150px 30px 50px 30px;
    background-color: rgba(85, 98, 80, 0.9);
    overflow: auto;
    transition: right 0.3s ease;
    z-index: 2;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100px;
    background-color: #556250;
    transition: right 0.3s ease;
    z-index: 2;
  }
}
.menu__body._active {
  right: 0;
  display: flex;
  flex-direction: column;
}
.menu__body._active::before {
  right: 0;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1px 20px;
  justify-content: flex-end;
}
@media screen and (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    order: 2;
    margin-bottom: 20px;
  }
}
.menu__list .menu-item-has-children > a::after {
  content: "";
  position: relative;
  top: 5px;
  right: -4px;
  width: 11px;
  height: 11px;
  background: url("../images/icons/sprite.svg#arrow-down") center/cover no-repeat;
}
@media screen and (max-width: 767.98px) {
  .menu__list .menu-item-has-children > a::after {
    width: 22px;
    height: 22px;
  }
}
.menu__list li a {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition: color 0.3s ease;
}
.menu__list li a:hover {
  color: #2F2F2F;
}
@media screen and (max-width: 767.98px) {
  .menu__list li a {
    width: 100%;
    padding: 10px 0px;
    color: #F6F6F6;
  }
}
.menu__list li.current-menu-item a {
  color: #2F2F2F;
}
.menu__list li ul {
  position: absolute;
  left: 0;
  width: auto;
  background-color: rgb(49.55, 49.55, 49.55);
  z-index: 50;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  top: 65px;
  pointer-events: none;
  transition: max-height 0.4s ease-out, opacity 0.3s, top 0.3s;
}
@media screen and (max-width: 767.98px) {
  .menu__list li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
}
.menu__list li:hover > ul {
  max-height: 500px;
  opacity: 1;
  pointer-events: initial;
  top: 60px;
  transition: top 0.3s;
}
@media screen and (max-width: 767.98px) {
  .menu__list li:hover > ul {
    top: 0;
    background-color: rgb(54.65, 54.65, 54.65);
  }
}
.menu__list li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767.98px) {
  .menu__list li ul li {
    border: none;
  }
  .menu__list li ul li a {
    padding-left: 40px;
  }
}
.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(47, 47, 47, 0.3);
  text-transform: uppercase;
  transition: color 0.3s ease;
}
@media (any-hover: hover) and (pointer: fine) {
  .menu__item:hover::before {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .menu__item {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.7);
  }
  .menu__item::before {
    content: none;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
.menu__icon {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .menu__icon {
    display: block;
    position: relative;
    width: var(--width-span);
    height: var(--height-span);
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 5;
    padding: 0;
  }
}
.menu__icon span {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 100%;
  height: var(--weight-span);
  background-color: rgba(246, 246, 246, 0.9);
}
.menu__icon span:first-child {
  top: 0;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.5s ease-out;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.5s ease-out;
}
.menu__icon._active span {
  transform: scale(0);
  background-color: #F6F6F6;
  transition: transform 0.3s ease-in-out, background-color 0.5s ease-out;
}
.menu__icon._active span:first-child {
  top: calc(50% - 2px);
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.menu__icon._active span:last-child {
  top: calc(50% - 2px);
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.menu-languages li a::after {
  top: 0 !important;
}
@media screen and (max-width: 767.98px) {
  .menu-languages {
    align-self: flex-end;
    order: 1;
  }
  .menu-languages li {
    display: flex;
  }
  .menu-languages li a {
    width: auto;
  }
  .menu-languages li a:hover {
    background-color: #2F2F2F;
  }
  .menu-languages li a::after {
    content: none !important;
  }
  .menu-languages li ul {
    width: auto;
    height: auto;
    max-height: none;
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    opacity: 1;
    background-color: #2F2F2F;
  }
  .menu-languages li ul a {
    padding-left: 10px !important;
  }
  .menu-languages li ul a:hover {
    background-color: #2F2F2F;
  }
}
@media screen and (max-width: 767.98px) {
  .menu-languages li {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .menu-languages li a {
    width: auto;
    font-size: 20px;
    padding-right: 0;
  }
  .menu-languages li a::after {
    content: none !important;
  }
  .menu-languages li ul {
    opacity: 1;
    top: 0;
    background-color: transparent;
    max-height: unset;
    display: flex;
    z-index: 1;
  }
  .menu-languages li ul a {
    font-size: 20px;
    padding-right: 0;
  }
}

.language-menu {
  z-index: 99;
  margin-left: 30px;
}
@media screen and (max-width: 767.98px) {
  .language-menu {
    margin-left: auto;
    position: relative;
    top: -20px;
    display: none;
  }
}
.language-menu._active {
  display: block;
}

.language-menu > ul {
  position: relative;
  pointer-events: auto;
  display: flex;
  align-items: center;
}
.language-menu > ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767.98px) {
  .language-menu > ul li ul li {
    border: none;
  }
}

.language-menu > ul > li {
  display: flex;
  align-items: center;
  width: auto;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767.98px) {
  .language-menu > ul > li > ul {
    opacity: 1;
    top: 0;
    width: auto;
    max-height: min-content;
    display: flex;
    align-items: center;
    background-color: #2F2F2F;
  }
}

.language-menu > ul > li a {
  display: block;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 767.98px) {
  .language-menu > ul > li a {
    padding: 0;
    width: auto;
  }
}
@media (any-hover: hover) and (pointer: fine) {
  .language-menu > ul > li a:hover {
    background-color: rgb(54.65, 54.65, 54.65);
  }
}

.language-menu > ul > li:hover ~ a {
  text-decoration: underline;
}

@media screen and (max-width: 767.98px) {
  .menu-item-language {
    display: flex;
    align-items: center;
  }
}

.language-dropdown {
  background-color: #2F2F2F;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  display: none;
  right: 0;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 767.98px) {
  .language-dropdown {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
    box-shadow: none;
  }
}

.language-dropdown a {
  color: #F6F6F6;
  display: block;
  font-size: 14px;
  line-height: 1.5em;
  padding: 10px;
  text-transform: capitalize;
}
@media screen and (max-width: 767.98px) {
  .language-dropdown a {
    padding: 6px 0;
    font-size: 16px;
    color: #F6F6F6;
  }
}

@media (min-width: 768px) {
  .language-menu > ul > li:hover .language-dropdown {
    display: block;
  }
  .language-dropdown a {
    padding: 8px 25px !important;
    cursor: pointer;
  }
  .language-dropdown li:hover {
    background-color: #2F2F2F;
  }
  .language-dropdown li:hover a {
    color: #F6F6F6 !important;
  }
}
.error-404 {
  padding: 80px 0;
}
.error-404__container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
.error-404 .page-content {
  margin-top: 40px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

a.btn {
  display: inline-block;
  background: #605245;
  padding: 13px 28px;
  color: #F6F6F6;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #605245;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.3s ease;
}
a.btn:focus {
  outline: none;
}
a.btn:active {
  transform: translateY(2px);
  background: transporent;
  color: #605245;
}
@media (any-hover: hover) and (pointer: fine) {
  a.btn:hover {
    background: transparent;
    color: #605245;
  }
}
a.btn-error {
  margin-top: 20px;
}
a.btn--hero {
  margin-top: 20px;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.navigation__btn-prev {
  transform: rotate(180deg);
}
@media (any-hover: hover) and (pointer: fine) {
  .navigation__btn-prev:hover {
    transform: translateX(-5px) rotate(180deg);
  }
}
.navigation__btn-svg {
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) and (pointer: fine) {
  .navigation__btn-next:hover {
    transform: translateX(5px);
  }
}
.navigation__btn:focus {
  outline: none;
}

.hero {
  padding-top: 60px;
  padding-bottom: var(--sectionPaddingBottom);
  position: relative;
  min-height: var(--height);
}
.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero__intro {
  margin-bottom: 68px;
}
.hero__wrap {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.hero__text {
  flex-basis: 48.8%;
}
.hero__head {
  font-size: 128px;
  line-height: 0.8;
  color: #556250;
}
.hero__img {
  flex-basis: 51.1%;
  flex-shrink: 1;
  padding-bottom: 600px;
  overflow: hidden;
}
.hero__img img {
  transition: transform 0.7s ease-in;
}
@media (any-hover: hover) and (pointer: fine) {
  .hero__img:hover img {
    transform: scale(1.02);
  }
}
.hero__bottom {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.hero__item {
  padding-bottom: 10px;
  border-bottom: 2px solid #AFA695;
  overflow: hidden;
}

.hero {
  padding-top: 60px;
  padding-bottom: var(--sectionPaddingBottom);
  position: relative;
  min-height: var(--height);
}
.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero__intro {
  margin-bottom: 68px;
}
.hero__wrap {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.hero__text {
  flex-basis: 48.8%;
}
.hero__head {
  font-size: 128px;
  line-height: 0.8;
  color: #556250;
}
.hero__img {
  flex-basis: 51.1%;
  flex-shrink: 1;
  padding-bottom: 600px;
  overflow: hidden;
}
.hero__img img {
  transition: transform 0.7s ease-in;
}
@media (any-hover: hover) and (pointer: fine) {
  .hero__img:hover img {
    transform: scale(1.02);
  }
}
.hero__bottom {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.hero__item {
  padding-bottom: 10px;
  border-bottom: 2px solid #AFA695;
  overflow: hidden;
}

.photo {
  margin-top: var(--sectionPaddingTop);
  margin-bottom: var(--sectionPaddingBottom);
  position: relative;
  height: 500px;
  overflow: hidden;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.about {
  padding-top: var(--sectionPaddingTop);
  padding-bottom: var(--sectionPaddingBottom);
}
.about__inner {
  display: flex;
  gap: 20px;
}
.about__head {
  margin-bottom: 40px;
}
.about__left {
  border-top: 2px solid #556250;
  padding-top: 20px;
  flex-basis: 50%;
}
.about__img {
  padding-bottom: 558px;
  max-width: 420px;
  margin-bottom: 90px;
  overflow: hidden;
}
.about__img img {
  transition: transform 0.7s ease-in;
}
@media (any-hover: hover) and (pointer: fine) {
  .about__img:hover img {
    transform: scale(1.02);
  }
}
.about__experience {
  margin-top: 20px;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  color: #556250;
}
.about__right {
  border-top: 2px solid #556250;
  padding-top: 20px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__name {
  font-size: 32px;
  color: #556250;
  text-transform: uppercase;
  font-weight: 700;
}
.about__found {
  color: #556250;
  font-weight: 700;
  margin-bottom: 20px;
}
.about__found span {
  text-transform: uppercase;
  font-family: "CormorantGaramond", serif;
  font-weight: 400;
}
.about__item {
  border-top: 2px solid #556250;
  padding-top: 20px;
}
.about__item:not(:last-child) {
  margin-bottom: 20px;
}
.about__item p:not(:last-child) {
  margin-bottom: 20px;
}

.footer {
  background-color: #556250;
  padding: 60px 0;
  color: #F6F6F6;
}
.footer__item {
  transition: color 0.3s ease;
}
.footer__item:not(:last-child) {
  margin-bottom: 19px;
}
.footer__item a {
  cursor: pointer;
}

@media (min-width: 992px) {
  .benefits__arrow {
    animation: move-down 5s infinite linear;
    backface-visibility: hidden;
    animation-fill-mode: backwards;
  }
}
@keyframes move-down {
  0% {
    transform: translate(0, 0) scale(1);
  }
  30% {
    transform: translate(0px, 100px) scale(1.1);
  }
  45% {
    transform: translate(0px, 70px) scale(1);
  }
  70% {
    transform: translate(0px, 100px) scale(1.1);
  }
  100% {
    transform: translate(0px, 90px) scale(1);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* АНИМАЦИЯ ТЕКСТА СЛЕВА СПРАВА СНИЗУ И СВЕРХУ */
.animated-item {
  overflow: hidden;
}

.animated-block {
  opacity: 0;
  animation: slide-in 0.8s ease-out forwards;
}

/* Базовые настройки анимации */
@keyframes slide-in {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/* Направления анимации */
.animated-block[data-direction=left],
.animated-block:not([data-direction]) {
  transform: translateX(-100%);
}

.animated-block[data-direction=left] {
  transform: translateX(100%);
}

.animated-block[data-direction=up] {
  transform: translateY(100%);
}

.animated-block[data-direction=down] {
  transform: translateY(-100%);
}

/* Опционально - динамическое появление при скролле */
@media (prefers-reduced-motion: no-preference) {
  .animated-block {
    animation-duration: 0.8s;
    animation-delay: 0.5s;
  }
}
/* END of АНИМАЦИЯ */
/* No styles code below. Only in modules. */
/* Не пишите CSS код ниже. Только в подключаемых файлах  */