.photo
  margin-top: var(--sectionPaddingTop)
  margin-bottom: var(--sectionPaddingBottom)

  // для паралакс
  position: relative
  height: 500px
  overflow: hidden
  @include mediaPhone
    height: 400px
  @include mediaPhoneMid
    height: 250px
